/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	height:100%;
	min-height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: 'Baskerville','Times New Roman', serif;
	background: #F2EBE9;
}

header {
margin: 0 auto;
color: #98ADA6;
text-decoration: none;
font-size: 1.5em;
}


a{
margin: 0 auto;
color: #98ADA6;
text-decoration: none;
}


h1, h2{
		color: #98ADA6
}

img {
	border: 5px solid;
	border-color: #98ADA6;
}

.icons{
	border-color: #e5e5e5;
}

.icons:hover{
	border-color: #465759;
}

footer{
	font-size: 80%;
	float: right;
	margin: 20px;
}
/* Write all remaining styles here */
.main-page{
	width: 960px;
	margin: 0 auto;
	background: #FFFF;
	padding: 50px;

}
